.form {
  width: 378px;
  display: flex;
  flex-direction: column;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  padding: 23px 24px 36px 24px;

}

.alignSelfCenter {
  align-self: center;

  margin-bottom: 14px;
}

.transform {
  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}

.mb36 {
  margin-bottom: 31px;
}

.mb18 {
  margin: 0 auto;
  margin-bottom: 18px;
}

.mb22 {
  margin-bottom: 22px;
}

.mb41 {
  margin-bottom: 41px;
}

.alignSelfCenterPure {
  align-self: center;
}