@import "../../../../styles/AuthFormsStyles.module";

.form {
  @extend .parentForm;
  padding: 29px 23px 18px 25px;
}

.mb36 {
  margin-bottom: 31px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb12 {
  margin-bottom: 37px;
}

.alignSelfCenterPure {
  align-self: center;
}
