.form {
  width: 378px;
  display: flex;
  flex-direction: column;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  padding: 10px;

}

.alignSelfCenter {
  align-self: center;

  margin-bottom: 14px;
}

.transform {
  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}

.mb36 {
  margin-bottom: 31px;
}

.mb18 {
  margin: 0 auto;
  margin-bottom: 18px;
}

.mb12 {
  margin-bottom: 37px;
}

.alignSelfCenterPure {
  align-self: center;
}