.Publication {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}

.avatarContainer {
  width: 38px;
  height: 38px;
  border-radius: 50%;

  overflow: hidden;
}

.textArea {
  height: 120px;
}

.count {
  align-self: flex-end;
  margin-top: -4px;
}