.UserInformation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--light-100);
}