.Modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0;
  pointer-events: none;

  z-index: -1;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: 100000;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;

  pointer-events: none;
  overflow: hidden;
}