.PhotoEditing {
  position: relative;
  width: 100%;
  height: calc(100% - 45px);
}

.loaderContent {
  height: calc(100% + 46px);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header {
  width: 100%;
  min-height: 45px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--dark-100);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all .1s ease-in-out;
}

.wrapper {
  width: 33vw;
  height: 100%;
  position: relative;
}

.avatarContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.popupCol {
  display: flex;
  column-gap: 24px;
}

.btn {
  transition: all .3s ease-in-out;

  &:hover {
    transform: translateX(-2px);
  }
}

.sidebarR {
  position: absolute;
  top: 45px;
  right: 0;
  width: 0;
  height: 100%;
  transition: all .1s ease-in-out;
}

.open {
  width: 23vw;
  padding: 10px;
  background-color:var(--dark-400);
  border-left: 1px solid var(--dark-100);
}
