@import "../../../logOut/ui/AuthFormsStyles.module";

.form {
  @extend .parentForm;
  padding: 29px 23px 18px 25px;
}

.h36 {
  height: 36px;
}

.h18 {
  height: 18px;
}

.h12 {
  height: 12px;
}

.alignSelfCenterPure {
  align-self: center;
}
.alignSelfCenter {
  align-self: center;

  margin-bottom: 14px;
}
