.Sidebar {
  position: sticky;
  top: 61px;
  height: calc(100vh - 61px);
  width: 220px;
  padding: 74px 0 36px 0;

  border-right: 1px solid var(--dark-300);
  transition: all .5s ease-in-out;
  z-index: 20;

  &.sidebarClose {
    width: 43px;
    padding: 74px 0 36px 6px;
  }
}

.innerWrapper {
  height: 100%;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--font-medium-l);
}

.bottom {
  margin-top: auto
}

.decor {
  position: absolute;
  top: 50%;
  right: -12.5px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-100);
  opacity: .6;
  border-radius: 50%;

  transition: all .5s ease-in-out;

  cursor: pointer;
  z-index: 10;
}

.close {
  transform: rotate(180deg);
}

.fontNone {
  font-size: 0;
  transition: font-size .3s ease-in-out;
}

.fontInherit {
  font: inherit;

  transition: font-size .3s ease-in-out;
}