.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modalContent {
  position: relative;
  padding: 12px 24px 36px 24px;
  width: 400px;
  border-radius: 2px;
  background-color: var(--dark-300);
  color: white;
  z-index: 3000;

  .strip {
    width: 100%;
    position: absolute;
    top: 59px;
    left: 0;
    border-bottom: 1px solid var(--dark-100);
  }
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.modalBody {
  word-break: break-word;
  margin-bottom: 30px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
