.Modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0;
  pointer-events: none;

  z-index: -1;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  height: 73vh;

  background-color: var(--dark-400);
  transition: all .5s ease-in-out;

  border-radius: 15px;
  overflow: hidden;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
}

//.isClosing {
//  .content {
//    transform: scale(0);
//  }
//}