.ErrorPage {
  width: 100%;
  height: calc(100vh - 61px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.mb20 {
  margin-bottom: 20px;
}