.NavLink {
  font: var(--font-medium-l);

  transition: color .2s ease-in-out;
  cursor: pointer;
}

.isActive {
  color: var(--primary-500);
}

.primary {
  color: var(--light-100);
}

.secondary {
  color: var(--primary-500);
}

.grey {
  color: var(--light-900);
}