.Select {
  position: relative;
  width: 210px;

  &:focus {
    border: none;
  }
}

.listBoxButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  background-color: var(--dark-900);
  color: var(--light-900);
  border: 1px solid var(--dark-100);
  border-radius: 2px;

  &:focus {
   border: 2px solid var(--primary-500);
  }
}

.arrowIcon {
  transform: rotate(0deg);
  transition: all .4s ease-in-out;
}



.selected {
  transform: rotate(180deg);
}


.listBoxOptions {
  position: absolute;
  width: 100%;
  border: 1px solid var(--dark-100);
}

.listBoxOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding: 6px 12px;
  color: var(--light-100);

  cursor: pointer;
}

.listBoxOptionActive {
  background-color: var(--dark-300);
  color: var(--primary-500);
}

.isActive {
  background-color: var(--dark-500);
  color: var(--light-100);
  border: 1px solid var(--light-100);
}

.isFocus {
  border: 2px solid var(--primary-500);
}