.parentForm {
  width: 378px;
  display: flex;
  flex-direction: column;

  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
}

.alignSelfCenter {
  align-self: center;

  margin-bottom: 14px;
}

.iconContainer {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 22px;
}

.transform {
  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}

.btn {
  display: flex;
  gap: 12px;
}