.ProfileSetting {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 61px);
  padding: 42px 310px 30px 124px;

}

.profileSettingBlock {
  position: relative;
  width: 726px;
  display: flex;
  padding-top: 22px;
  flex-direction: row;
}

.buttonBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 726px;
}

