@import "../../logOut/ui/AuthFormsStyles.module";

.form {
  @extend .parentForm;
  padding: 23px 24px 30px 24px;
}

.alignSelfEnd {
  align-self: end;
}

.h24 {
  height: 24px;
}

.h60 {
  height: 60px;
}

.h18 {
  height: 18px;
}

.h12 {
  height: 12px;
}

