.Filters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.innerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &:hover {
    opacity: .8;
  }

  transition: all .2s ease-in-out;

  cursor: pointer;
}

.block {
  max-width: 5vw;
  max-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-100);
}