.itemContainer {
  padding: 12px;
  display: flex;
  column-gap: 12px;
}

.item {
  position: relative;
  width: 76px;
  height: 82px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.deleteIcon {
  width: 14px;
  height: 14px;
  padding: 3px;
  position: absolute;
  top: 2px;
  right: 2px;

  background-color: var(--dark-500);
  cursor: pointer;
}

.popoverPanel {
  right: 0;
}