.container {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}

.paginationContainer {
  display: flex;
  align-items: center;
  column-gap: 12px;

  //background: white;
  color: var(--light-100);
}

.paginationContainer button {
  height: 24px;
  min-width: 24px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2px;
  font: var(--font-regular-l);
  transition: background-color .2s;

  &:focus-visible {
    outline: 2px solid var(--primary-700);
  }

  &.active {
    background-color: var(--light-100);
    color: var(--dark-900);
  }

  &.isDisabledDot {
    cursor: default;
    outline: none;
  }

  &:hover:not(.active):not(.disabled):not(.isDisabledDot) {
    background-color: var(--dark-500);
  }
}

.disabled {
  //color: var(--dark-100);
  opacity: 0.3;
  cursor: default;
  outline: none;
}

.arrowLeft {
  height: 6px;
  rotate: 90deg;
}

.arrowRight {
  height: 6px;
  rotate: -90deg;
}

.selectCountPageContainer {
  display: flex;
  align-items: center;
  column-gap: 9px;
}

