.container {
  width: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mb72 {
  margin-bottom: 72px;
}

.mb54{
  margin-bottom: 54px;
}

.mb19 {
  margin-bottom: 19px;
}
.alignSelfCenter {
  align-self: center;
}