.tabs {
  margin-top: 36px;
  margin-left: 24px;
}

.buttonGroup {
  display: flex;
  align-items: center;
}

.button {
  padding: 6px 24px;
  color: var(--dark-100);
  font: var(--font-semiBold-l);
  border-bottom: 2px solid var(--dark-100);

  &:hover:not(&:disabled) {
    background: rgb(35, 78, 153, 0.15);
  }

  &:disabled:not(.buttonActive) {
    cursor: default;
    border-color: var(--dark-300);
    color: var(--dark-300);
  }

  &:focus-visible:not(&:disabled) {
    outline: 2px solid var(--primary-700);
    border-radius: 2px;
  }
}

.buttonActive {
  color: var(--primary-500);
  border-bottom: 2px solid var(--primary-500);

  &:disabled {
    cursor: default;
    color: var(--primary-900);
    border-color: var(--primary-900);
  }
}

.content {
  display: none;
  color: white;
}

.activeContent {
  display: block;
}