.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  height: 270px;
  overflow: hidden;

  &:hover {
    opacity: .8;
  }

  transition: opacity .2s ease-in-out;
  cursor: pointer;
}