.Card {
  position: relative;
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: .8;
  }

  transition: opacity .2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.container {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}