.textArea{
  background-color: rgba(23, 23, 23, 1);
  width: 100%;
  height: 85px;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 2px solid var(--dark-100);
  border-radius: 4px;
  resize: none;
  color: #FFFFFF;
}

.label {
  position: relative;
  color: var(--light-900);
}