.CheckBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;

  border: 2px solid var(--light-500);

  border-radius: 4px;

  cursor: pointer;

  &:hover {
    .decoration {
      background-color: var(--dark-300);
    }

    &:active {
      .decoration {
        background-color: var(--dark-100);
      }
    }
  }

  transition: all .4s ease-in-out;
  
}

.decoration {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: none;

  transition: all .3s ease-in-out;

  z-index: -10;
}

.container {
  display: flex;
  align-items: center;
  gap: 11px;

  &:focus {
    border: none;
    outline: none;
    .decoration {
      background-color: var(--dark-500);
      z-index: -10;
    }
  }
}


.isChecked {
  background-color: var(--light-100);
  border: none;
}

.isDisabled {
  border: 2px solid var(--light-900);
  cursor: inherit;
  .decoration {
    display: none;
  }
}

.disableChecked {
  background-color: var(--dark-100);
  border: none;
}

.input {
  display: none;
}


.label {
  color: var(--light-100);
  cursor: pointer;
}

