.menu {
  color: #0289f7;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 50px;
}

.content {
  padding-top: 20px;
}

.button {
  color: white;
  font-size: xxx-large;
}

.buttonAct {
  color: #2f68cc;
  font-size: xxx-large;
}
.active,
.button:hover {
  color: #2f68cc;
}
